*{
    background-color: rgb(223, 247, 245);
}
header, header ul, header ul li, header ul li a{
    background: rgb(206, 247, 247);
}
main{
    margin-left: 20%;
    margin-right: 20%;
}

/* ---- Título e imágen inicial ---- */
.imgReceta{
    border-radius: 20px;
    max-height: 80%;
    max-width: 80%;
    transition: all .5s;
}
.imgReceta:hover{
    filter: brightness(115%);
    transform: scale(1.05);
}
.titulo p{
    text-align: left;
    font-size: 0.85em;
}
h2{
    text-decoration: underline #7ABA96;
}

/* ----- Explicación receta ----- */
.sobreReceta{
    display: flex;    
    flex-flow: row wrap;
    justify-content: center;
}
.sobreReceta p{
    text-align: justify;
    margin-bottom: 4%;
}
.vitamix{
    color: #7ABA96;
}

/* ----- Preparación receta ---- */
.preparacionReceta{
    border: 2px solid black;
    text-align: left;
    padding: 3%;
}
.preparacionReceta span{
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: underline black;
}
.recuadroFlotante{
    width: 25%;
    border: 2px solid black;
    float: right;
    text-align: justify;
    margin: 2%;
    padding: 0% 2% 0% 2%;
}
.recuadroFlotante p{
    display: flex;
    justify-content: space-between;
}

/* ----- Modificación del footer y paginación ---- */
footer ul, footer ul li, footer ul li a{
    background: black;
}
.paginacion{
    margin-top: 5%;
    border-radius: 10px;
    background-color: lightgray;
    padding: 5px 0px;
}
.paginacion a{
    font-weight: bold;
    display: inline;
    justify-content: space-between;
    border-radius: 10px;
    background-color: lightgray;
    padding: 0px 20px;
    text-decoration: none;
    color: black;
    transition: all .5s;
}
.paginacion a:hover{
    background-color: rgb(175, 236, 231);
}
